body {
    max-width: 1366px;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 100%;

    margin: 0 auto;

}

.content {
    position: relative;
    top: 40px;

}

.header {

    margin: 0 auto;
    top: 46px;
}
.header-logo {
    margin-left: 161px;
    display: flex;
    justify-content: space-between;
}

.tours-link-description {
    position: relative;
    top: 20px;

    width: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    align-items: center;

    color: #FFFFFF
}

.logo {
    position: absolute;
    background: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 53px;
    height: 47px;
    top: 51px;
    left: 161px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;


}

.logo::after {
    content: 'milan';
    position: absolute;
    top: 0px;
    left: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;

}
.logo::before {
    content: 'holidays';
    position: absolute;
    top: 31px;
    left: 63px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;

}

.logo:hover::after, .logo:hover::before {
    color: #F26522;
}



.logo-img {
    position: relative;
    padding-right: 8px;
    width: 53px;
    height: 47px;
}



.logo:hover {
    background: url("../img/logo2.png");
}

.tours-link-description:hover {
    color: #F26522;
}

.tours-link:hover ~ .tours-link-description {
    color: #F26522;
}



.tours-img {
    box-sizing: border-box;
    width: 200px;
    height: 80px;
    margin: 0 auto;
    border: 3px solid transparent;
    border-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    border-image-slice: 1;
}
.contact {
    position: absolute;
    right: 177px;
    top: 46px;
    height: 61px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.contact>a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
}

.contact>a:hover {
    color: #F26522;

}

.customers-link {
    position: absolute;
    top: 51px;
    fill: #FFFFFF;
}


.tours {
    max-width: 1030px;
    margin: 0 auto;
    position: absolute;
    top: 124px;
    left: 165px;
    padding: 0;
}

.tours-list {
    display: flex;
    flex-wrap: wrap;
    gap: 62px;


}
.main   {
    /*position: relative;*/

}

.copy {
    position: absolute;
    bottom: 15px;
    left: 42%;
    /*margin: 0 auto;*/
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}

.tours-img {
    width: 300px;
    height: 220px;
}

.tours-view {
    width: 300px;
    height: 55px;
    background: #F26522;
    display: none;
}

.tours-view-row2 {
    width: 300px;
    height: 55px;
    background: #F26522;
    display: none;
}


.tours-link:hover ~ .tours-view {
    display: block;
    position: absolute;
    top: 165px;

}

.row2:hover ~ .tours-view-row2 {
    display: block;
    position: absolute;
    bottom: 20px;

}

.price {
    padding: 29px 0 12px 16px;
    font-family: 'Roboto';
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;

}

.view {
    font-family: 'Roboto';
    position: absolute;
    top: 29px;
    right: 37px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.view::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFFFFF;
    position: absolute;
    right: -17px;
    top: 3px;
}
.price::before {
    content: 'from';
    position: absolute;
    top: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}

.tours-link-description:hover ~ .tours-view {
    display: block;
    position: absolute;
    top: 165px;

}

.tours-link-description:hover ~ .tours-view-row2 {
    display: block;
    position: absolute;
    bottom: 20px;
}